@import "components/_mixins-and-placeholders"
@import "components/_pagesNavigation"
@import "components/_baseStyles"

//simple reset
body
	padding: 0
	margin: 0
	background-color: #fff


.window,
.main
	position: absolute
	@extend %widthHeightHundredPorcent



.window
	overflow: visible


.main
	overflow: hidden


.content
	@extend %widthHeightHundredPorcent




.closeSidebar,
#openRightSidebar,
#openLeftSidebar
	display: none
	width: 20%
	z-index: 2

.closeRightSidebar
	left: 0
.closeLeftSidebar
	right: 0


.sidebar,
.content,
.window
	-webkit-transition: all 250ms ease 0s
	-moz-transition: transform 250ms ease 0s
	-ms-transition: transform 250ms ease 0s
	-o-transition: transform 250ms ease 0s
	transition: transform 250ms ease 0s



.sidebar,
.closeSidebar
	position: absolute
	top: 0
	bottom: 0
	overflow: hidden



.sidebar
	width: 80%
	background: $bgSidebarColor
	z-index: 2

	ul, ol
		overflow: scroll
		height: 88%
		margin-top: 40px
	
	li
		margin: 0 0 25px

.leftSidebar
	+translateX(-100%)

.rightSidebar
	+translateX(125%)


#openLeftSidebar[type=checkbox]:checked ~ .content
	+translateX(80%)

#openRightSidebar[type=checkbox]:checked ~ .content
	+translateX(-80%)


#openLeftSidebar[type=checkbox]:checked ~ .leftSidebar,
#openRightSidebar[type=checkbox]:checked ~ .rightSidebar
	overflow: hidden

#openLeftSidebar[type=checkbox]:checked ~ .leftSidebar
	+translateX

#openRightSidebar[type=checkbox]:checked ~ .rightSidebar
	+translateX(25%)



#openLeftSidebar[type=checkbox]:checked ~ .closeLeftSidebar,
#openRightSidebar[type=checkbox]:checked ~ .closeRightSidebar
	display: block




