extends layout

block content


	.content

		nav.navigationBar
			label.buttonOffCanvas.openLeftSidebar(for='openLeftSidebar')
			label.buttonOffCanvas.openRightSidebar(for='openRightSidebar')

			a.brandTop(href='#/') BRAND


		input#openPage1.navigationinput(type='radio', name='scroll', value='1', checked)
		input#openPage2.navigationinput(type='radio', name='scroll', value='2')
		input#openPage3.navigationinput(type='radio', name='scroll', value='3')
		input#openPage4.navigationinput(type='radio', name='scroll', value='4')
		input#openPage5.navigationinput(type='radio', name='scroll', value='5')
		
		.window
			.page.page1
				h1 Page 1
				label.button(for='openPage2') next &gt;

				article.articleContent
					p Bacon ipsum dolor amet bresaola flank swine pig, tail ham boudin capicola salami chuck ribeye meatloaf. Doner pancetta jowl beef. Swine corned beef ham hock pig, rump picanha brisket meatloaf sausage beef. Shoulder salami bresaola ham t-bone picanha tongue swine tri-tip pancetta rump turducken. Flank fatback biltong strip steak, jerky hamburger pork belly pancetta jowl spare ribs swine shoulder frankfurter.

					p Pork belly meatloaf hamburger turkey pork chop cupim andouille ham pig alcatra prosciutto boudin strip steak meatball chicken. Shankle porchetta short loin, alcatra capicola tri-tip flank shoulder frankfurter pork chop. Venison beef pork chop, ribeye prosciutto pig pastrami rump. Venison beef ribs pork belly turkey jowl pancetta brisket beef t-bone porchetta. Flank meatball sirloin, ribeye ball tip frankfurter tongue ground round beef pastrami picanha short ribs chicken hamburger ham hock. Jerky salami pork beef ribs hamburger venison ham. Leberkas alcatra drumstick, tongue spare ribs venison chuck hamburger corned beef pork chop t-bone chicken tri-tip.


			.page.page2
				.breadcrumb
					label.link.goback(for='openPage1') back

				h1 Page 2

				label.button(for='openPage3') page 3 &gt;

				article.articleContent
					p Pancetta filet mignon pork loin ham hock bresaola boudin kielbasa meatloaf tail bacon tenderloin frankfurter flank rump brisket. Pork belly ground round hamburger meatloaf, alcatra chicken ribeye fatback pig sirloin. Ball tip beef pig biltong, chicken turducken venison. Meatball t-bone pig bacon venison. Beef sausage filet mignon alcatra, flank chuck turkey capicola pig.

					p Ham short loin tongue short ribs, tri-tip bresaola tail shank. Jerky shankle picanha, andouille bresaola cupim pancetta shank pork loin tail bacon. Turducken flank ribeye doner frankfurter meatball. Chuck corned beef chicken ball tip spare ribs biltong brisket. Frankfurter capicola cupim, spare ribs pig chuck beef alcatra.

					p Bresaola sausage swine pork chop landjaeger shank meatloaf sirloin shoulder ground round beef ribs tongue. Boudin turducken doner ground round short ribs t-bone bacon biltong. Pork loin sirloin drumstick beef, turkey leberkas ball tip bresaola fatback strip steak doner ham hock biltong swine frankfurter. Porchetta flank tongue jerky, alcatra doner pork sirloin drumstick venison. Shankle t-bone tongue beef leberkas sirloin corned beef shoulder tail chuck biltong tri-tip shank tenderloin meatloaf.

					p Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
			

			.page.page3
				.breadcrumb
					label.link.goback(for='openPage2') back

				h1 Page 3

				label.button(for='openPage4') page 4 &gt;

			
			.page.page4
				.breadcrumb
					label.link.goback(for='openPage2') back

				h1 Page 4
				
				label.button(for='openPage5') page 5 &gt;

			
			.page.page5
				.breadcrumb
					label.link.goback(for='openPage4') back

				h1 Page 5
				label.button(for='openPage1') &lt; page 1


