doctype html
html(lang='pt-BR')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Offcanvas css

		link(rel='stylesheet', href='assets/css/offcanvas.min.css')

		body

			div(class='main', data-role='window')

				include partials/sidebars.jade

				
				block content


